* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(0, 0, 0);
}

.wraper {
  /* width: 100vw; */
  height: 100vh;
  padding: 10px;

  background-color: #930e81;
}

.header {
  /* padding: 20px; */
  background-color: #930e81;
}

.header__logo {
  /* width: 350px; */
  height: 84px;
  background-image: url('../img/Prostir-orig.png');
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: contain;
  /* padding: 5px; */
}

.header__telefons {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
.header__telefons-icons {
}
.header__telefons span {
  /* color: #a8eff7; */
}

.header__telefons a {
  text-decoration: none;
  color: #a8eff7;
  font-size: 22px;
}

.caruserl {
  width: 100%;
}
.caruserl__box {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  height: 100px;
}
